<% include ../partials/head %>
<div class="container">
<%
	function print_date(d, p) {
		function pad(n) {
			return n < 10 ? '0'+n : n
		}
		if(typeof d !== 'object' || d.constructor.name !== 'Date') {
			d = new Date();
		}
		if(p !== undefined) {
			d.setHours(d.getHours() + p);
		}
		
		var str = d.getFullYear() + '-';
		str += pad(d.getMonth()+1) + '-';
		str += pad(d.getDate());
		str += ' ';
		str += pad(d.getHours()) + ':';
		str += pad(d.getMinutes()) + ':';
		str += pad(d.getSeconds());
		
		return str;
	}
	
	function print_tweet(tweet) {
		var user = tweet.user;
		var entities = tweet.entities;
		var text = tweet.text;
 	   entities.hashtags.forEach(function(hashtag) {
			var hashtag_url = '<a href="https://twitter.com/hashtag/' + hashtag.text + '" target="_blank">#' + hashtag.text + '</a>';
			text = text.replace('#' + hashtag.text, hashtag_url);
		});
		entities.symbols.forEach(function(symbol) {
			var symbol_text = '<a href="https://twitter.com/search?q=$' + symbol.text + '" target="_blank">$' + symbol.text + '</a>';
			text = text.replace('$' + symbol.text, symbol_text);
		});
		entities.user_mentions.forEach(function(user_mention) {
			var user_name = '<a href="https://twitter.com/' + user_mention.screen_name + '" target="_blank">@' + user_mention.screen_name + '</a>';
			text = text.replace('@' + user_mention.screen_name, user_name);
		});
		entities.urls.forEach(function(url) {
			var expanded_url = '<a href="' + url.expanded_url + '" target="_blank">' + url.display_url + '</a>';
			text = text.replace(url.url, expanded_url);
		});
		if(entities.media) {
			entities.media.forEach(function(media) {
				var display_url = '<a href="https://' + media.display_url + '" target="_blank">' + media.display_url + '</a>';
				text = text.replace(media.url, display_url);
			});
		}
%>
			<div class="tweet">
				<a href="https://twitter.com/<%=user.screen_name %>" target="_blank" class="user">
					<img src="<%=user.profile_image_url_https %>" class="user-profile_image" />
					<strong><%=user.name %></strong>
					<span>@<%=user.screen_name %></span>
				</a>
				<div class="text">
					<span><%-text.replace(/\n/g, '<br />') %></span>
				</div>
<%
		if(entities.media) {
%>
				<div class="entities-media">
<%
			tweet.extended_entities.media.forEach(function(media) {
%>
					<div class="thumbnail">
						<img src="<%=media.media_url_https %>:orig" />
					</div>
<%
			});
%>
				</div>
<%
		}
%>
				<div>
<%
		if(tweet.retweet_count) {
%>
					<div>RTs: <%=tweet.retweet_count %></div>
<%
		}
%>
<%
		if(tweet.favorite_count) {
%>
					<div>Likes: <%=tweet.favorite_count %></div>
<%
		}
%>
				</div>
				<div>
					<div class="created_at"><a href="https://twitter.com/<%=user.screen_name %>/status/<%=tweet.id_str %>" target="_blank"><%=print_date(new Date(tweet.created_at)) %></a></div>
					<div class="source"><%-tweet.source.replace('<a ', '<a target="_blank" '); %></div>
					<div class="clear"></div>
				</div>
			</div>
<%
	}
%>
	<div style="margin-bottom: 20px;">
		<a href="./../<%=url.prev %>" class="btn btn-default">prev</a>
		<a href="./../<%=url.next %>" class="btn btn-default pull-right">next</a>
	</div>
	
	<div class="list-group">
	<% tweets.forEach(function(tweet) { %>
		<div class="list-group-item">
			<% if(tweet.retweeted_status) { %>
			<div>RT by <a href="https://twitter.com/<%=tweet.user.screen_name %>" target="_blank"><strong><%=tweet.user.name %></strong> (@<%=tweet.user.screen_name %>)</a></div>
			<div style="margin: 2px 0;">
				<div class="created_at"><a href="https://twitter.com/<%=tweet.user.screen_name %>/status/<%=tweet.id_str %>" target="_blank"><%=print_date(new Date(tweet.created_at)) %></a></div>
				<div class="source"><%-tweet.source.replace('<a ', '<a target="_blank" ') %></div>
				<div class="clear"></div>
			</div>
			<% tweet = tweet.retweeted_status; %>
			<% } %>
			<%=print_tweet(tweet) %>
		</div>
	<% }); %>
	</div>
	
	<div style="margin-bottom: 20px;">
		<a href="./../<%=url.prev %>" class="btn btn-default">prev</a>
		<a href="./../<%=url.next %>" class="btn btn-default pull-right">next</a>
	</div>
</div>
<% include ../partials/tail %>
